@charset "UTF-8";
/********************************************
Custom WordPress Editor Styling
*********************************************/

:root {
	--link-color: #40A5FF;
	--text-color: #111;
	--page-background: #fefefe;
	--page-width: 1250px;

	accent-color: var(--link-color);
}

body {
	background-color: var(--page-background);
	color: var(--text-color);
	line-height: 1.7;
	max-width: var(--page-width);
	font-size: 1.2rem;
	font-family: 
		system-ui,
		-apple-system,
		'Segoe UI',
		Roboto,
		'Liberation Sans',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Noto Color Emoji';
}

a {
	color: var(--link-color);
}

a img {
	object-fit: contain;
}

p {
    margin-bottom: 0.75rem;
	orphans: 3;
	widows: 3;
}

p.has-drop-cap:not(:focus):first-letter {
	font-weight: 700;
	font-size: 5rem;
}

ul,
ol {
	padding-left: 2rem;
}

ul li::marker {
	color: var(--link-color);
}

b,
strong {
	font-weight: bolder;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}

small {
	font-size: 80%;
}

abbr[title] {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
	border-bottom: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none; 
}

figure {
	margin: 0 0 0.1rem;
	display: inline-block;
}

figcaption {
	text-align: center;
	padding: 0.6em 0.2em;
	line-height: 1.2;
	font-size: 1rem;
}

code,
kbd,
samp,
pre {
	direction: ltr;
	unicode-bidi: bidi-override;
	white-space: pre-wrap;
	font-size: 1em;
	font-family:
		SFMono-Regular,
		Menlo,
		Monaco,
		Consolas,
		'Roboto Mono',
		'Liberation Mono',
		monospace;
}

kbd {
	background-color: #ddd;
	padding: 0.1rem 0.4rem;
	border-radius: 0.2rem;
	border-bottom: 1px solid #aaa;
	white-space: nowrap;
}

blockquote {
    font-style: italic;
	-webkit-hyphens: auto;
	hyphens: auto;
	margin: 0 0 1rem;
}

blockquote:not(.is-style-plain) {
	padding-left: 0.7em;
	border-left: 6px solid #666;
}

blockquote p {
	margin: 0.2em 0;
}

blockquote p::before {
	content: '“';
	font-size: 1.2rem;
}

blockquote p::after {
	content: '”';
	font-size: 1.2rem;
}

blockquote cite {
	font-size: smaller;
	margin-left: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	margin-bottom: 0.5rem;
	font-weight: 400;
}

h1 {
	font-size: 2.5rem;
	font-weight: 500 !important;
}

h2 {
	font-size: 2.1rem;
}

h3 {
	font-size: 1.75rem;
	font-weight: 600;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
	font-weight: 500;
}

h6 {
	font-size: 1.1rem;
	font-weight: 600;
}

table {
	border-collapse: collapse;
	text-indent: 0;
	width: 100%;
}

td,
th {
	padding: 0.15em 0.5em;
	line-height: 1.15;
	text-align: inherit;
	text-overflow: ellipsis;
	vertical-align: text-top;
	font-variant-numeric: tabular-nums;
}

caption {
	padding: 0.5rem;
}

svg:not(:root) {
	height: auto;
	max-width: 100%;
	overflow: hidden;
	vertical-align: middle;
}

select:not([multiple]):not([size]) {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-right: 1.4em;
	background-position: 100% 50%;
	background-size: 1em;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22'%3E%3Cpath d='M6.6 18l4.5-4.6 2 2L6.6 22 0 15.4l2-2zm0-14L2 8.6l-2-2L6.6 0 13 6.6l-2 2z' fill='dimgray'/%3E%3C/svg%3E");
}