@charset "UTF-8";
/********************************************
WordPress Guetenburg Editor Style
*********************************************/

.editor-styles-wrapper .is-root-container {
	max-width: var(--wp--style--global--content-size);
	margin: 0 auto;
}

/* Block elements */
p {
	font-size: var(--wp--preset--font-size--medium);
    margin-bottom: 0.75rem;
}

li::marker {
	color: var(--wp--preset--color--secondary);
}

/* Inline elements */
a img {
	object-fit: contain;
}

b,
strong {
	font-weight: bolder;
}

mark {
	padding: 0 0.1em;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}

/* Images and Figures */
figure {
	margin: 0 0 0.1rem;
	display: inline-block;
}

figcaption {
	padding: 0.3em 0.2em;
}

svg:not(:root) {
	height: auto;
	max-width: 100%;
	overflow: hidden;
}

/* Monospace elements */
pre {
	word-break: break-all;
	font-size: 1rem;
}

pre code {
	font-size: inherit;
	color: inherit;
	word-break: normal;
	display: inline-block;
}

kbd {
	background-color: #ddd;
	padding: 0.1rem 0.4rem;
	border-radius: 0.2rem;
	border-bottom: 1px solid #aaa;
	white-space: nowrap;
}

/* Blockquotes */
blockquote:not(.is-style-plain) {
	padding-left: 0.7em;
	border-left: 6px solid var(--wp--preset--color--primary);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.5rem;
}

/* Tables */
table {
	border-collapse: collapse;
	text-indent: 0;
}

td,
th {
	padding: 0.15em 0.5em;
	line-height: 1.15;
	text-align: inherit;
	vertical-align: text-top;
}

/* Form elements */
textarea,
input {
	margin: 0;
	border-radius: 0;
}

select:not([multiple]):not([size]) {
	appearance: none;
	overflow: hidden;
	padding-right: 1.4em;
	background-position: 100% 50%;
	background-size: 1em;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='22'><path d='M6.6 18l4.5-4.6 2 2L6.6 22 0 15.4l2-2zm0-14L2 8.6l-2-2L6.6 0 13 6.6l-2 2z' fill='dimgray'/></svg>");
}

/* Footnotes Block */
.wp-block-footnotes li a,
.fn a {
	color: var(--wp--preset--color--secondary); 
	padding: 0 1px;
}

.wp-block-footnotes li {
	font-size: 0.9em;
	margin-left: 1em;
	line-height: 1.1;
}

.wp-block-footnotes li::marker {
	font-size: initial;
	color: initial;
}

/* Block Gallery */
.wp-block-gallery {
	margin-bottom: 2.5em;
}

.wp-block-gallery.has-nested-images .wp-block-image figcaption {
	background: none !important;
	margin-bottom: -1.9em;
	height: 1rem;
	overflow: hidden !important;
}

.wp-block-gallery figure {
	border: 3px solid var(--wp--preset--color--primary);
}