@charset "UTF-8";
/********************************************
Base WordPress Page Styling 
*********************************************/

/* Variables */
:root {
    /* color-scheme: light dark; */
    --sidebar-width: 15em;
	--page-width: 1250px;
	--header-height: 15em;
	--header-height-mobile: 14em;
	--darkmode-bg-color: #161616;

	--icon-search: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='416' height='488'><path d='M288 208c0-61.75-50.25-112-112-112S64 146.25 64 208s50.25 112 112 112 112-50.25 112-112zm128 208c0 17.5-14.5 32-32 32-8.5 0-16.75-3.5-22.5-9.5L275.75 353c-29.25 20.25-64.25 31-99.75 31C78.75 384 0 305.25 0 208S78.75 32 176 32s176 78.75 176 176c0 35.5-10.75 70.5-31 99.75l85.75 85.75c5.75 5.75 9.25 14 9.25 22.5z'/></svg>");
	--icon-mail: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='560' height='512'><path d='M560.036 436.276L370.134 280.504l-21.003 20.128 194.278 159.272H15.71L-.042 435.401V77.476l280.039 242.409 280.04-242.41v358.801zM188.983 280.503L-.043 435.4l15.752 24.503 194.278-159.272-21.003-20.128zm91.013 1.75L14.833 52.096h530.325L279.995 282.253z'/></svg>");
	--featured-img-bg: linear-gradient(135deg, rgba(6, 6, 6, 0.01) 0%, rgba(6, 6, 6, 0.01) 1%,rgba(131, 131, 131, 0.01) 1%, rgba(131, 131, 131, 0.01) 14%,rgba(250, 250, 250, 0.01) 14%, rgba(250, 250, 250, 0.01) 26%,rgba(30, 30, 30, 0.01) 26%, rgba(30, 30, 30, 0.01) 62%,rgba(117, 117, 117, 0.01) 62%, rgba(117, 117, 117, 0.01) 66%,rgba(248, 248, 248, 0.01) 66%, rgba(248, 248, 248, 0.01) 76%,rgba(39, 39, 39, 0.01) 76%, rgba(39, 39, 39, 0.01) 100%),linear-gradient(135deg, rgba(57, 57, 57, 0.06) 0%, rgba(57, 57, 57, 0.06) 4%,rgba(227, 227, 227, 0.06) 4%, rgba(227, 227, 227, 0.06) 26%,rgba(67, 67, 67, 0.06) 26%, rgba(67, 67, 67, 0.06) 27%,rgba(126, 126, 126, 0.06) 27%, rgba(126, 126, 126, 0.06) 39%,rgba(103, 103, 103, 0.06) 39%, rgba(103, 103, 103, 0.06) 72%,rgba(16, 16, 16, 0.06) 72%, rgba(16, 16, 16, 0.06) 76%,rgba(21, 21, 21, 0.06) 76%, rgba(21, 21, 21, 0.06) 88%,rgba(69, 69, 69, 0.06) 88%, rgba(69, 69, 69, 0.06) 100%),linear-gradient(135deg, rgba(156, 156, 156, 0.05) 0%, rgba(156, 156, 156, 0.05) 12%,rgba(54, 54, 54, 0.05) 12%, rgba(54, 54, 54, 0.05) 48%,rgba(169, 169, 169, 0.05) 48%, rgba(169, 169, 169, 0.05) 59%,rgba(104, 104, 104, 0.05) 59%, rgba(104, 104, 104, 0.05) 62%,rgba(165, 165, 165, 0.05) 62%, rgba(165, 165, 165, 0.05) 68%,rgba(124, 124, 124, 0.05) 68%, rgba(124, 124, 124, 0.05) 77%,rgba(189, 189, 189, 0.05) 77%, rgba(189, 189, 189, 0.05) 85%,rgba(173, 173, 173, 0.05) 85%, rgba(173, 173, 173, 0.05) 100%),linear-gradient(135deg, rgba(182, 182, 182, 0.07) 0%, rgba(182, 182, 182, 0.07) 22%,rgba(122, 122, 122, 0.07) 22%, rgba(122, 122, 122, 0.07) 28%,rgba(62, 62, 62, 0.07) 28%, rgba(62, 62, 62, 0.07) 44%,rgba(89, 89, 89, 0.07) 44%, rgba(89, 89, 89, 0.07) 61%,rgba(110, 110, 110, 0.07) 61%, rgba(110, 110, 110, 0.07) 83%,rgba(185, 185, 185, 0.07) 83%, rgba(185, 185, 185, 0.07) 86%,rgba(192, 192, 192, 0.07) 86%, rgba(192, 192, 192, 0.07) 100%),linear-gradient(135deg, rgba(8, 8, 8, 0.06) 0%, rgba(8, 8, 8, 0.06) 54%,rgba(48, 48, 48, 0.06) 54%, rgba(48, 48, 48, 0.06) 57%,rgba(245, 245, 245, 0.06) 57%, rgba(245, 245, 245, 0.06) 86%,rgba(12, 12, 12, 0.06) 86%, rgba(12, 12, 12, 0.06) 94%,rgba(225, 225, 225, 0.06) 94%, rgba(225, 225, 225, 0.06) 100%),linear-gradient(135deg, rgb(32,83,128) 0%,rgb(64,165,255) 80%,rgb(32,83,128) 100%);
	--featured-img-bg-over: rgba(255,255,255,0.09) url(../images/dots-overlay.svg) repeat 0 0;

	--facebook-color: #3b5998;
	--twitter-color: #1da1f2;
	--linkedin-color: #0077b5;
	--pinterest-color: #e60023;
	--reddit-color: #ff4500;
	--email-color: #ffb700;
}


/************************ 
Icon Fonts Styling
************************/

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.woff2?xc0ne7') format('woff2'),
		url('../fonts/icomoon.woff?xc0ne7') format('woff');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-display: block;
}

/* Special Links */
.the-content [href$=".pdf"]::before, 
.the-content [href^="https://drive.google.com/"]::before {
	font-family: 'icomoon' !important;
	content: "\e907";
	padding-right: 2px;
	font-size: 1rem;
}

.the-content [href^="mailto:"]::before {
	font-family: 'icomoon' !important;
	content: "\e903";
    padding-right: 1px;
}

.the-content [href^="tel:"]::before {
    font-family: 'icomoon' !important;
	content: "\e942";
    padding-right: 1px;
    font-size: 0.9rem;
}


/************************ 
Main Site Layout
************************/

/* Page main body layout */
.page-main {
	min-height: 30em;
	width: var(--page-width);
	margin: 0 auto;
}

.page-content.width-side {
	width: calc(100% - var(--sidebar-width));
	float: left;
	padding: 0.5em;
}

.page-content.width-full {
	width: 100%;
	float: none;
	padding: 0.8rem;
}

.page-content.width-max {
	padding: 0;
}

@media (max-width: 1249px) {
	.page-main {
		width: 100%;
		margin: 0;
	}
}

@media (max-width: 849px) {
	.page-content.width-side {
		float: none !important;
		width: 100% !important;
		padding: 0 0.8em;
	}
}

/* Sidebar Layout */
.page-sidebar {
	width: var(--sidebar-width);
	padding: 0.8em;
	margin-top: 1em;
	float: right;
}

.page-sidebar.width-full {
	width: 100%;
	float: none;
}


/*********************************** 
Site Header
************************************/

/* WordPress Admin bar adjustments */
.admin-bar .header-menubar {
	margin-top: 1.8em;
}

/* Skip main content link */
.nav-skip {
	font-weight: bold;
	padding: 0.5rem;
	border-radius: 0 0 0.2rem 0.2rem;
	background: #333;
	color: #fff;
	position: absolute;
	left: 1rem;
	z-index: 200;
	transform: translateY(-120%);
	transition: transform 0.3s ease-in;
}

.nav-skip:focus {
	transform: translateY(0);
}

/* No header image on homepage */
.header-homepage {
	height: 0;
}

/* No header - blog, attachment, search and 404 pages */
.header-noimage {
	height: 2.5em;
}

.header-hero-caption {
	right: 16px; 
	bottom: 5px; 
	position: absolute;
	color: #fff;
	font-weight: 500;
	text-shadow: 0 0 4px rgba(0,0,0,0.9);
}

.header-hero-caption a {
	text-decoration: none;
	transition: background 0.5s;
	padding: 1px 4px;
	border-radius: 4px;
}

.header-hero-caption a:hover {
	background-color: rgba(0,0,0,0.5);
}

/* Standard header image on all other pages */
.header-single-page,
.header-single-post,
.header-blog {
	height: var(--header-height);
	overflow: hidden;
	position: relative;
	background-color: #555;
	background-position: 50% 50%;
	background-size: 100%;
	background-image: var(--featured-img-bg);
}

.header-single-page .header-hero-overlay,
.header-single-post .header-hero-overlay,
.header-blog .header-hero-overlay {
	background: var(--featured-img-bg-over);
	width: 100%;
	height: var(--header-height);
	-webkit-backdrop-filter: saturate(120%);
	backdrop-filter: saturate(120%);
}

.header-single-page .header-hero-gradient,
.header-single-post .header-hero-gradient,
.header-blog .header-hero-gradient {
	position: absolute;
	background: linear-gradient(180deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 32%);
	width: 100%;
	height: var(--header-height);
}

/* Header nav and logo */
.header-menubar {
	z-index: 100;
	position: absolute;
	width: 100%;
	top: 0;
}

.header-logo {
	margin: 0.5em 0.7em 0;
	display: inline-block;
}

.header-logo a {
	text-decoration: none;
}

.header-content {
	position: absolute;
	top: -0.4em;
	right: 1em;
}

.header-breadcrumbs {
	margin-left: 5em;
	font-size: 0.9rem;
	font-weight: 500;
	text-transform: uppercase;
}

.header-widgets {
	display: inline-block;
	vertical-align: middle;
}

.header-navigation,
.header-secondary-navigation {
	display: inline-block;
	vertical-align: middle;
}

.header-navigation ul li,
.header-secondary-navigation ul li {
	display: inline-block;
}

.header-navigation ul li a,
.header-secondary-navigation ul li a {
	font-size: 1.7rem;
	font-weight: 700;
	text-decoration: none;
	padding: 2px 4px 0;
	margin: 0 1px;
	transition: all 0.2s;
	border-bottom: 0 solid transparent;
}

.header-navigation ul li a:hover,
.header-secondary-navigation ul li a:hover {
	border-bottom: 4px solid currentColor;
}

.header-navigation ul li a:active,
.header-secondary-navigation ul li a:active {
	opacity: 0.6;
}

.page-header .menu-button {
	display: none;
	margin: 0.9em;
}

.header-secondary-navigation {
	display: none;
}

@media (max-width: 849px) {
	.header-single-page,
	.header-single-post,
	.header-blog {
		height: var(--header-height-mobile);
	}
	.header-logo {
		margin: 0.6em 0.4em;
	}
	.header-menubar {
		position: fixed;
		background-color: rgba(255,255,255,0.98);
		border-bottom: 1px solid #eee;
		z-index: 1000;
		height: 4.6em;
	}
	.page-header .menu-button {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 200;
	}
	.header-content {
		position: relative;
	}
	.header-widgets button {
		margin: 0.2em;
		padding: 2em;
		background-size: 2.2em;
	}
	.header-widgets,
	.header-navigation,
	.header-secondary-navigation {
		display: block;
	}
	.header-navigation ul li,
	.header-secondary-navigation ul li {
		display: block;
		line-height: 1.9;
	}
	.header-navigation ul li a,
	.header-secondary-navigation ul li a {
		font-size: 1.5em;
	}
	.header-breadcrumbs {
		display: none;
	}
	/* Hamburger menu pull down on narrow screens */
	.menubar {
		padding: 0.6em;
		width: auto;
		position: fixed;
		top: 0;
		z-index: 100;
	}
	.pull-menu-left {
		will-change: auto;
		background-color: rgba(255,255,255,0.97);
		position: fixed;
		left: -200em;
		padding: 1em;
		width: 100vw;
		height: 100vh;
	}
	.pull-menu-left.menu-show {
		left: 0;
		transition: left 0.3s ease-in-out;
	}
}

@media print {
	.header-menubar {
		position: relative;
	}
}


/*********************************** 
Site Footer
************************************/

.page-footer {
	color: #fff;
	background-color: #222;
}

.footer-widgets {
	width: var(--page-width);
	padding: 2em 1em 0;
	margin: 0 auto;
}

.footer-load-time {
	font-size: 0.75rem;
	opacity: 0.7;
	line-height: 0.2;
	text-align: right;
}

.footer-notice {
	font-size: 0.95rem;
	margin: 0 auto 2em;
	padding: 0.8em;
	clear: both;
	width: var(--page-width);
}

.footer-rule {
	opacity: 0.1;
	padding: 1px;
	margin-top: 0;
}

.footer-copyright {
	width: 50%;
	float: left;
}

.footer-footnote {
	width: 50%;
	float: right;
	text-align: right;
}

.footer-footnote .wp-theme-title::before {
	font-family: 'icomoon' !important;
	content: "\e902";
	padding-right: 2px;
	vertical-align: -2px;
}

@media (max-width: 1249px) {
	.footer-widgets {
		width: 100%;
		margin: 0;
	}
	.footer-notice {
		width: 100%;
		margin-bottom: 3em;
		font-size: 0.85rem;
	}
}

@media (max-width: 800px) {
	.footer-copyright,
	.footer-footnote {
		width: 100%;
		text-align: center;
	}
}

/*********************************** 
Single Blog Post Styling (single)
************************************/

/* Single Blog Post */
.single-entry-header {
	margin: 0.5em auto;
}

.single-entry-sticky {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.4rem;
	margin-top: -2em;
	position: absolute;
	padding: 4px 10px;
	background-color: #ddd;
}

.single-entry-title {
	margin: 0 2px 10px;
	font-size: 2.7em;
	font-weight: 700;
}

.single-entry-category a {
	text-transform: uppercase;
	letter-spacing: 0.07em;
	padding: 3px;
}

.single-entry-metadata {
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.5em;
	font-size: 1.1rem;
	padding-left: 0.4em;
}

.single-entry-footer {
	clear: both;
}

.single-entry-content {
	min-height: 12em;
}

/* Post author info */
.single-author-bio .author-bio-name {
	font-size: 1.4rem;
	margin: -2px 0 0;
}

.single-author-bio .author-bio-about {
	margin: 0;
}

@media (max-width: 849px) {
	.single-entry-metadata {
		font-size: 0.9em;
	}

	.entry-share {
		float: left !important;
		margin-top: 1.4em;
	}
}


/*********************************** 
Blog Post Styling - index/home/archives
************************************/

.blog-roll .sticky {
	background-color: #eee;
	padding: 0.8em;
	border-radius: 0.3em;
}

.entry-header {
    display: inline-block;
    width: calc(100% - 250px - 1.5em);
}

.entry-footer {
	margin-top: -1.5em;
}

.entry-sticky {
	color: #eee;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 800;
	padding: 10px;
	text-align: center;
	text-shadow: 1px 1px 0 #000;
}

.entry-readmore a {
	text-transform: uppercase;
	font-weight: 600;
	text-decoration-thickness: 2px;
	margin-left: 4px;
}

/* Entry Featured Image as a background element */
.entry-thumbnail {
    width: 250px;
    height: 250px;
	border-radius: 0.3rem;
    float: left;
	background-repeat: no-repeat;
	background-position: center center;
    background-size: 150%;
    margin: 0 1.5em 3em 0;
    background-color: var(--brand-color-dark);
    background-image: var(--featured-img-bg);
	text-decoration: none;
	transition: all 0.4s ease-in-out;
}

.entry-thumbnail:hover {
	background-size: 180%;
}

.entry-thumbnail:active {
	filter: brightness(104%);
}

.entry-thumbnail:is([style$='.png)'],[style$='.gif)'],[style$='.svg)']) {
	background-size: 85%;
}

.entry-thumbnail:is([style$='.png)'],[style$='.gif)'],[style$='.svg)']):hover {
	background-size: 105%;
}

@media (max-width: 849px) {
	.entry-thumbnail {
		width: 100%;
		height: 9em;
		margin-bottom: 0.8em;
	}
}

.entry-title {
	margin: 0.1em 0 0.3em;
	font-size: 2.1em;
	font-weight: 600;
}

.entry-separator {
	width: 0.9rem;
}

.entry-last-updated {
	opacity: 0.8;
	font-size: 0.9rem !important;
	font-style: italic;
}

.the-content {
	min-height: 10em;
}

/* Entry Tags */
.entry-tags {
	float: left;
}

.entry-tags ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.entry-tags ul li {
	display: inline-block;
	margin: auto 2px;
}

.entry-tags ul li a {
	color: #555;
	padding: 3px;
	text-decoration: underline;
	text-decoration-color: #bbb;
}

.entry-tags ul li a:hover {
	text-decoration: underline;
	text-decoration-color: #222;
}

.entry-tags ul li a:active {
	opacity: 0.6;
}

.entry-tags ul li a::before {
	content: "#";
	color: #bbb;
	font-style: italic;
}


/***************************** 
Entry Social Sharing Styling
*****************************/

/* Entry Social Sharing layout */
.entry-share {
	float: right;
}

.entry-share ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.entry-share ul li {
	display: inline-block;
	margin: 6px 1px;
}

/* Entry Social Sharing Links */
.post-social-share li a {
	text-decoration: none;
	color: #fff;
	padding: 6px 8px;
	border-radius: 5px;
	transition: filter 0.3s;
}

.post-social-share li a::before {
	padding-right: 3px;
	vertical-align: -2px;
	font-size: 1.2em;
}

.post-social-share li a:hover {
	filter: brightness(1.2);
}

.post-social-share li a:active {
	filter: brightness(0.8);
}

.post-social-share .facebook-share {
    background-color: var(--facebook-color);
}

.post-social-share .facebook-share::before {
	font-family: 'icomoon' !important;
	content: "\e90b";
}

.post-social-share .twitter-share {
    background-color: var(--twitter-color);
}

.post-social-share .twitter-share::before {
	font-family: 'icomoon' !important;
	content: "\e906";
}

.post-social-share .linkedin-share {
    background-color: var(--linkedin-color);
}

.post-social-share .linkedin-share::before {
	font-family: 'icomoon' !important;
	content: "\e905";
}

.post-social-share .pinterest-share {
    background-color: var(--pinterest-color);
}

.post-social-share .pinterest-share::before {
	font-family: 'icomoon' !important;
	content: "\e900";
}

.post-social-share .reddit-share {
    background-color: var(--reddit-color);
}

.post-social-share .reddit-share::before {
	font-family: 'icomoon' !important;
	content: "\e901";
}

.post-social-share .email-share {
    background-color: var(--email-color);
}

.post-social-share .email-share::before {
	font-family: 'icomoon' !important;
	content: "\e903";
}


/*********************************** 
Portfolio Page Styling
************************************/

.portfolio-page {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 1em;
}
/*
.portfolio-page > div {

}
*/
/* Entry Featured Image as a background element */
.portfolio-thumbnail {
    width: 300px;
    height: 300px;
	border-radius: 0.3rem;
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
    background-size: 150%;
    background-color: var(--brand-color-dark);
    background-image: var(--featured-img-bg);
	text-decoration: none;
	transition: all 0.4s ease-in-out;
}

.portfolio-thumbnail:hover {
	background-size: 170%;
}

.portfolio-thumbnail:active {
	filter: brightness(104%);
}

.portfolio-thumbnail:is([style$='.png)'],[style$='.gif)'],[style$='.svg)']) {
	background-size: 85%;
}

.portfolio-thumbnail:is([style$='.png)'],[style$='.gif)'],[style$='.svg)']):hover {
	background-size: 105%;
}

.portfolio-info {
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	padding: 5px;
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.portfolio-title {
	font-size: 1.5rem;
	font-weight: 700;
	color: #fff;
	line-height: 1;
	margin: 0;
	text-shadow: 1px 1px 0 #000;
}

.portfolio-author {
	color: rgba(255,255,255,0.8);
	font-size: 0.8rem;
}

@media (max-width: 849px) {
	.portfolio-thumbnail {
		width: 100%;
		height: 9em;
		margin-bottom: 0.8em;
	}

	.portfolio-title {
		font-size: 0.9rem;
	}
	.portfolio-author {
		font-size: 0.7rem;
	}
}


/***************************** 
WordPress Generated Components
*****************************/

/* Emoji Styling */
img.wp-smiley, img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

/* WordPress Editor Classes */
.alignright {
	float: right;
}

.alignleft {
	float: left;
}

.aligncenter {
	text-align: center;
	margin: auto;
}

.clearfix {
	content: "";
	clear: both;
	display: table;
}

.hidden {
	display: none !important;
}

.visual-hidden {
	clip: rect(0,0,0,0);
	position: absolute;
}

/* Drop caps */
.has-drop-cap:not(:focus):first-letter {
	font-weight: 700;
	font-size: 5rem;
}

/* Seperator */
hr.wp-block-separator.is-style-default {
	width: 7em !important;
	margin: auto;
}

/* Sidebar Widgets */
.widget_recent_entries a {
	font-weight: bold;
	font-size: 1.1rem;
}

/* Current selected nav item */
.current_page_item a,
.current_page_parent a,
.current-menu-item a {
	font-weight: 800 !important;
}

/************************ 
Figures and Galleries
************************/

figure > a img[srcset] {
	cursor: zoom-in;
}

.page-content figure > a img {
    transition: filter 0.5s ease-in-out;
}

.page-content figure > a:hover img {
	filter: brightness(1.05);
}

.page-content figure > a:active img {
	filter: brightness(0.95);
}

.page-content figcaption:not(.blocks-gallery-item__caption) {
	opacity: 0.6;
}

.wp-block-embed iframe {
	height: 280px;
}

.wp-block-image figure > a::after {
	position: absolute;
	transform: translate(-1.5em,0.5em);
}

.wp-block-image figcaption {
	padding: 0;
	font-size: 0.9rem;
}

.wp-block-gallery figure > a::after {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
}

.wp-block-gallery figure img {
	box-shadow: 0 7px 7px -6px rgba(0,0,0,0.7), 0 5px 10px -2px rgba(0,0,0,0.1);
}

.blocks-gallery-item__caption {
	font-size: 0.95em !important;
	font-weight: bold;
	pointer-events: none;
}

@media (max-width: 600px) {
	.wp-block-image figure {
		width: 50%;
	}
}


/************************ 
Specific Page Styling
************************/

/* Page Title */
.page-title {
	font-size: 3rem;
	font-weight: 700;
	margin: 0 auto -0.3em;
}

/* The Blog Page */
.blog-page-title {
	margin: 3em auto 2em;
}

.blog-page-title h1 {
	font-size: 3rem;
	font-weight: 700;
}

.blog-page-title p {
	font-size: 1.4em;
	margin: 0 !important;
}

.page-content .post {
	margin: 0.5em auto 3em;
	clear: both;
}

/* Archive Page */
.archive-header .page-title {
	margin: 0.8em auto 0.1em;
}

.page-archive .post {
	margin: 0;
	padding: 0.7em;
}

.archive-author-bio {
	margin: 0 1em 3em;
}

.archive-author-bio .author-bio-meta {
	font-size: 1.2rem;
}

/* Archive Page - Author Bio block */
.author-container {
	margin-top: 1em;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	min-height: 10em;
}

.author-container p {
	margin: 3px 0;
}

.author-avatar {
	float: left;
	margin-right: 0.6rem;
}

.author-avatar figure img {
	border: 1px solid #fff;
	border-radius: 0.5em;
	box-shadow: 0 7px 7px -6px rgba(0,0,0,0.7), 0 5px 10px -2px rgba(0,0,0,0.1);
}

/* Portfolio Page */
.portfolio-header .page-title {
	margin: 0.8em auto 0.1em;
}

.page-portfolio .post {
	margin: 0;
	padding: 0.7em;
}

/* Search Page */
.page-search .page-title {
	margin-top: 0.8em;
}

.page-search .search-container {
	margin: 1.6em 1em 1.4em 0.4em;
}

.page-search .search-container input {
	font-size: 1.4em;
}

/* Search Submit button */
.search-submit {
	padding: auto 1.2em;
	width: 3em;
	background-position: 50% 50%;
	background-size: 1.3em;
	background-repeat: no-repeat;
	background-image: var(--icon-search);
}

/* Search input field */
.search-page-form .search-input {
	width: calc(100% - 5em);
}

.search-results .hentry {
	margin: 0 !important;
	padding: 0.7em !important;
}

.search-results .entry-type {
	background: rgba(100,100,100,0.2);
	padding: 3px 8px;
	border-radius: 0.2em;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	opacity: 0.9;
	margin-right: 0.5em;
}

/* Entry Featured Image on the search page */
.search-results .entry-square-thumbnail {
	width: 150px;
	max-height: 150px;
	border-radius: 0.3rem;
	margin: 0.7em;
	float: right;
}

/* Attachment and Image Page */
.page-image .attachment {
	text-align: center;
	font-size: 1.2em;
	min-height: 25em;
}

.page-image .attachment img:not([src$=".png"]):not([src$=".svg"]) {
	background-color: rgba(0,0,0,0.08);
	box-shadow: 0 7px 9px -6px rgba(0,0,0,0.4), 0 5px 4px -2px rgba(0,0,0,0.1);
}

.page-image .attachment a {
	transition: filter 0.5s ease-in-out;
}

.page-image .attachment a:hover {
	filter: brightness(108%);
}

.page-image .attachment svg#GenericDoc {
	transform: scale(75%);
}

.page-image .page-title {
	margin: 0.6em auto 0.2em;
	font-size: 3rem;
}

.page-image .image-info {
	font-size: 0.8em;
	padding: 12px;
	line-height: 1.6;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

.page-image .image-nav {
	margin-top: 1em;
}

.page-image .image-nav a {
	margin: 1em;
}

.page-image .image-caption {
	margin-top: 0.4em;
	font-size: 0.8em;
	opacity: 0.8;
}

.page-image .image-description {
	font-size: 1.2rem;
	min-height: auto !important;
}

.page-image .image-copyright {
	text-align: center;
	opacity: 0.9;
	font-style: italic;
}

.page-image .image-share ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.page-image .image-share ul li {
	display: inline-block;
	margin: 1em 0.1em;
}

/* 404 Error Page */
.page-404 {
	font-size: 1.5em;
	text-align: center;
	margin-top: 3em;
	min-height: 25em;
}

.page-404 .search-input {
	width: calc(100% - 10em);
}

/* Page last updated section */
.homepage-last-updated,
.page-last-updated {
	font-size: 0.8em;
	clear: both;
}


/************************ 
Comments Section
************************/

.list-comments {
	list-style: none;
	padding: 0;
}

.list-comments .comment {
	background-color: rgba(0,0,0,0.04);
	padding: 0.8em 1.1em;
	border-radius: 2px 0.6em 0.6em;
	margin-bottom: 0.4em;
}

.list-comments p {
	margin: 3px 2px;
}

.comment-author {
	font-size: 1.4em;
	font-weight: bold;
}

.comment-metadata {
	color: #666;
}

.comment-metadata a {
	text-decoration: none;
	color: #999;
	font-weight: bold;
	font-size: 1.25em;
	padding: 0 4px;
}

.comment-metadata a:hover {
	color: #000;
}

.comment-edit-link {
	color: #a00;
}

.comment-edit-link::before {
	content: "✎ ";
}

/* Comment Form */
.comment-form {
	background-color: rgba(0,0,0,0.05);
	padding: 1em;
	border-radius: 0.6em;
}

.comment-form-title {
	margin: 0;
}

.comments-title small {
	color: #777;
	margin-left: 4px;
}

.comment-form label {
	text-transform: uppercase;
}

.comment-name,
.comment-email,
.comment-url,
.comment-textarea {
	width: 100%;
}

.comment-textarea {
	height: 10em;
}

.comment-submit {
	padding: 0.5em 2em;
	border-color: transparent;
	font-size: 1.1em;
	text-transform: uppercase;
}

.required::after {
	content: "★";
	font-size: 0.8em;
	color: goldenrod;
	vertical-align: 2px;
	margin-left: 3px;
}

.comments-closed p {
	font-size: 1.4rem;
	text-align: center;
}


/************************ 
Page Pagination Section
************************/

.blog-pagination {
	text-align: center;
	margin: 1em 0 3em;
}

.blog-pagination nav a {
	text-decoration: none;
	font-size: 1.3rem;
	padding: 4px 10px;
	display: inline-block;
	font-size: 1.2rem;
}

.blog-pagination .blog-post-nav a {
	margin: auto 12px;
}

.single-blog-post-nav div span {
	font-size: 85%;
	display: block;
	margin: 0;
	font-weight: 800;
	text-transform: uppercase;
}

.single-blog-post-nav .left {
	float: left;
	text-align: left;
	margin: 0 0.8em;
}

.single-blog-post-nav .right {
	float: right;
	text-align: right;
	margin: 0 0.8em;
}


/************************ 
Dark Mode Styling
*************************/

body.dark-mode,
.dark-mode dialog > div {
	color: #eee;
	background-color: var(--darkmode-bg-color);
}

.dark-mode dialog {
	background-color: rgba(30,30,30,0.9);
}

.dark-mode main img:is([src$='.jpg'],[src$='.webp']) {
	filter: brightness(0.9) contrast(1.2);
}

.dark-mode a[href] {
	color: #fff;
}

.dark-mode header a[href] {
	color: #fff !important;
}

.dark-mode code, 
.dark-mode kbd {
	background-color: #444;
}

.dark-mode select:not([multiple]):not([size]),
.dark-mode select, 
.dark-mode input:not([type="submit"]):not([type="button"]):not([type="reset"]), 
.dark-mode textarea {
	color: #fff;
	background-color: #333;
	caret-color: #fff;
}

.dark-mode [type='range'] {
	background: transparent;
}

/* Specific dark-mode items */
.dark-mode .logo-text,
.dark-mode .square-button,
.dark-mode .menu-button,
.dark-mode .dialog-close-button,
.dark-mode .dialog-close {
	filter: invert();
}

.dark-mode .header-logo img {
	filter: brightness(0) invert();
}

.dark-mode .entry-thumbnail {
	filter: brightness(0.85);
}

@media (max-width: 850px) {
	.dark-mode .pull-menu-left {
		background-color: rgba(0,0,0,0.95);
	}
	.dark-mode .header-menubar {
		background-color: rgba(0,0,0,0.9);
	}
}


/************************ 
Special Custom Features
*************************/

/* Parallax effect */
.bg-parallax {
    will-change: auto;
}

.element-parallax {
	top: 0;
	left: 0;
    position: absolute;
    will-change: auto;
}


/************************ 
Breadcrumbs Plugin Style
*************************/

.breadcrumbs .trail-browse {
	display: none;
}

.breadcrumbs .trail-items {
	list-style: none;
	display: inline-block;
	-webkit-backdrop-filter: blur(5px) brightness(150%);
	backdrop-filter: blur(5px) brightness(150%);
	background-color: rgba(255,255,255,0.3);
	opacity: 0.8;
	margin: 0;
	padding: 2px 5px 0;
	border-radius: 6px;
	text-shadow: 0 1px 7px rgba(255,255,255,0.8);
}

.breadcrumbs .trail-items li {
	display: inline-block;
}

.breadcrumbs .trail-items li:first-of-type::before {
	font-family: 'icomoon' !important;
	content: "\e904";
	padding-right: 3px;
}

.breadcrumbs .trail-items li:last-of-type::after {
	display: none;
}

.breadcrumbs .trail-items li::after {
	content: "\002F";
	padding: 0 0.4em;
}

.breadcrumbs .trail-items li a:hover {
	text-decoration: none;
}


/************************ 
Contact Modal Styling
*************************/

.dialog-email h3 {
    margin: 0;
}

.dialog-email fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.dialog-email label {
	display: block;
	font-size: 1.1rem;
}

.dialog-email [type="text"],
.dialog-email [type="email"],
.dialog-email textarea {
	width: 100%;
	font-size: 1.2rem;
}

.dialog-email textarea {
	height: 10em;
	max-height: 20em;
}

.dialog-email [type="submit"] {
	font-size: 1.2em;
	padding: 0.5em 1em;
	border-color: transparent;
	color: #fff;
}

.dialog-email .contact_error::after {
	opacity: 0;
	display: inline-block;
	margin-left: 0.3rem;
	vertical-align: middle;
    content: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'><path d='M13.2 13.2V6h-2.4v7.2zm0 4.8v-2.4h-2.4V18zM12 0q5 0 8.5 3.5T24 12q0 5-3.5 8.5T12 24q-5 0-8.5-3.5T0 12q0-5 3.5-8.5T12 0z' fill='red'/></svg>");
	transition: opacity 0.3s ease-in-out 0s;
}

.dialog-email .contact_server {
	position: absolute;
	padding: 0;
	transform: translate(10em, -4em);
	width: calc(100% - 11em);
	color: #d00;
}

.dialog-email .contact_success {
	transform: translate(1em,-18em);
	width: calc(92%);
	color: #090;
	text-align: center;
	border: 2px solid #090;
	background: #fff;
	font-size: 1.2em;
}

@media (max-width: 812px) {
	.dialog-email .contact_server {
		transform: translate(10em, -5em);
	}
}


/************************ 
Search Modal Styling
*************************/

.dialog-search .dialog-content {
	background: none;
	box-shadow: none;
	padding: 0;
	overflow-y: hidden;
}

.dialog-search .search-title {
	margin: 0;
}

.dialog-search .search-input {
	width: calc(100% - 3em);
	height: 2.1em;
	font-size: 1.4em;
}

.dialog-search .search-submit {
	vertical-align: 0;
	width: 2.2em;
	height: 2.1em;
	font-size: 1.4em;
	border-color: transparent;
}